<launch>
    <node pkg="tf" type="static_transform_publisher" name="camera_to_arm_end_point_tf" args="0.04931 0.02749 -0.03655 -1.5260865 0.0352155 -1.5716474 arm_end_point camera 100" />
    <node pkg="tf" type="static_transform_publisher" name="front_left_camera_to_link00_tf" args="-0.11857818505016 -0.07559385389857 -0.13729930668359 0.13122791895 0.80231500301 -0.20524395673 -0.54492640554 frontleft_fisheye link00 100" />
    <node pkg="tf" type="static_transform_publisher" name="torch_to_arm_end_point_tf" args="0.18531637578555 0.03484948836312 0.09639543629435 0 0 0 arm_end_point torch 100" />

      <arg name="camera_info_topic" default="/camera/camera_info"/>
      <arg name="image_topic" default="/camera/image_raw"/>
      <arg name="pointcloud_topic" default="/camera/points"/>
      <arg name="target_pos" default="0.5 0.0 -0.6"/>

      <node pkg="arm_control" name="calibration" type="calibration" output="screen">
        <remap from="/camera/camera_info" to="$(arg camera_info_topic)" />
        <remap from="/camera/image_raw" to="$(arg image_topic)" />
        <remap from="/camera/points" to="$(arg pointcloud_topic)" />
        <param name="calib_target_pos" type="str" value="$(arg target_pos)" />
      </node>
</launch>
